<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/lib/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/scripts.min.js"></script>
  </head>
  <body>
    <div class="container main">
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home">Home</a>
            </li>
            <li class="navbar-item">
              <a href="#send">Send</a>
            </li>
          </ul>
        </div>
      </nav>
